*{
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
  vertical-align: middle;
}

ul,ol{
  list-style-type: none;
}

a{
  text-decoration: none !important;
}

.navbar-nav .nav-item{
  margin: 0 10px;
}

.navbar-nav .nav-item a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #212529;
  transition: all ease-in-out .3s;
}

.navbar-nav .nav-item a:hover{
  color: rgb(145, 234, 251);
}

.copyright{
  background-color: rgba(0, 0, 0, 0.466);
  color: gainsboro;
  padding: 10px 0px 5px 0px;
  margin-top: 50px;
}

.m-body{
  min-height: 100vh;
}